<div class="center hero-unit">
  <h1>本站点正在编辑当中.....</h1>
</div>

      <div class="ih-item square colored effect9 bottom_to_top hhh"><a href="#">
        <div class="img"><%= image_tag("1.jpg") %></div>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>


    <!-- colored -->
    <div class="ih-item square colored effect9 left_to_right hhh"><a href="#">
        <div class="img"><%= image_tag("2.jpg") %></div>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>

    <!-- colored -->

     <!-- colored -->
    <div class="ih-item square colored effect9 right_to_left hhh"><a href="#">
        <div class="img"><%= image_tag("3.jpg") %></div>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>

    <!-- colored -->   

    <!-- colored -->
    <div class="ih-item square colored effect9 top_to_bottom hhh"><a href="#">
        <div class="img"><%= image_tag("4.jpg") %></div>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>
    <!-- end colored -->    
