<div class="row">
  <div class="span6 offset3">
    <%= form_tag password_resets_path, :method => :post do %>
      <ul class="unstyled ul-top">
        <li><p><%= t('reset_email') %>:</p></li>
        <li><%= text_field_tag :email, params[:email] %></li>
        <li><%= submit_tag t("reset_password"), class: "btn btn btn-primary" %></li>
      </ul>
    <% end %>

  </div> 
</div>  