<section class="login">
  <div class="titulo">发送邮件重设密码</div>
    <%= form_tag password_resets_path, :method => :post do %>
      <%= text_field_tag :email, params[:email], placeholder: t('reset_email') %>
      <%= submit_tag t("reset_password"), class: "enviar" %>
    <% end %>
</section>
