<% provide(:title, t('sign_up')) %>
<section class="login">
<div class="titulo"><%= t('sign_up') %></div>
	<%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
	  <%= f.submit t("new"), class: "enviar" %>
	<% end %> 	
</div>
</section>