<h2><%= t('category') %></h2>
<% Category.all.each do |c| %>
<div class="row-fluid">
  <div class="span4 offset3"><%= c.name %></div>
  <div class="span4"><%= get_category(c.name).count() %></div>
</div>
<% end %>