@import "bootstrap";
/* universal */

$lightGray: #999;
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
  background-color: rgb(247, 243, 241);
  background-image: url(back_images.jpg)
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.con{
  margin-top: 60px;
  min-height: 450px;
  background-color: rgb(247, 243, 241);
}

.conn{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.comment{
  background-color: rgba(203, 193, 187, 0.65);
}

.pull-left01{
  float: left;
}

.pull-left02{
  margin-left: 70px;
}
.li-01{
  list-style-type:none;float:left;
}

.li-02{
  list-style-type:none;float:left;margin: 0 20px
}

.li-03{
  list-style-type:none; margin-left: 750px
}
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  :hover {
    color: #fff;
    text-decoration: none;
  }
}

.header-dd{
  font-size: 20px;
}

/* home */
.home {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: rgba(9, 57, 82, 1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
  }

/* footer */
footer {
  margin-top: 70px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  background-color: black;
  height: 140px;
  a {
    color: #555;
  }
  a:hover {
    color: #222;
  }
  small {
    float: left;
  }
  ul {
    list-style: none;
    margin-left: 550px;
    margin-top: 50px;
    li {
      margin-left: 30px;
      line-height: 30px;
    }
  }

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  }  

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* form */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}

}

/* Users index */
.users {
  list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
} 

/* microposts */
.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    margin-bottom: 20px;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* sidebar */

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
    strong {
      display: block;
    }
  }  
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}