<footer class="navbar navbar-fixed-bottom navbar-inverse">
<div class="container">
  <ul class="nav">
    <li><span><%= link_to t("chinese"), :controller => controller.controller_name,
              :action => controller.action_name, :locale => "zh" %></span> 
    </li>
    <li><span><%= link_to t("english"), :controller => controller.controller_name,
              :action => controller.action_name, :locale => "en" %></span>
    </li>  
  </ul>
</div>  
</footer>