<footer class="footer">
<small>
  <a href="http://www.diandiyun.com">北京点滴云教育科技有限公司</a>
</small>
<nav>
  <ul>
    <li><%= link_to "关于我们", about_path %></li>
	<li><%= link_to "联系我们", contact_path %></li>
	<li><a href="#">我的博客</a></li>
  </ul>
</nav>
</footer>