<footer class="footer">
<!--small>
  <a href="http://www.baidu.com" target="_blank">百度</a>
  <a href="http://google.com/" target="_blank">谷歌</a>
</small-->
<!--nav>
  <ul>
    <li><%= link_to "关于我们", about_path %></li>
	<li><%= link_to "联系我们", contact_path %></li>
	<li><a href="http://amspring.iteye.com" target="_blank">我的博客</a></li>
  </ul>
</nav-->

<ul>
	<li>开源中国，开源世界</li>
	<li>开源中国，开源世界</li>
	<li>开源中国，开源世界</li>
	<li>开源中国，开源世界</li>
	<li>开源中国，开源世界</li>
</ul>
</footer>